# Android Studio và IntelliJ
*.iml
.gradle
/.idea
!/.idea/codeStyles/

# Các file build và sản phẩm đầu ra
/build
/captures
.externalNativeBuild
.cxx

# File cấu hình cá nhân và bảo mật (QUAN TRỌNG)
local.properties
/app/google-services.jon


# Hệ điều hành
.DS_Store
Thumbs.db